<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Create a Trip</h1>

<form action="/trips" method="post">

  <input type="text" name="trip[name]" placeholder="Trip Name:">

  <input type="date" name="trip[date]" placeholder="Date: (mm-dd-yyyy) ">
  <!-- delete date placeholder?-->
  <input type="text" name="trip[destination]" placeholder="Destination:">

  <input type="text" name="trip[activities]" placeholder="Activities:">

  <input type="text" name="trip[notes]" placeholder="Notes: (optional) ">

  <input type="submit" name="submit" value="Create Trip">
</form>

<a href="/users/<%= current_user.slug %>">My Trips</a>
<a href="/logout">Logout</a>
