<h1>Create a Trip</h1>

<form action="/trips" method="post">

  <input type="text" name="name" placeholder="Trip Name">

  <input type="text" name="date" placeholder="Date">

  <input type="text" name="destination" placeholder="Destination">

  <input type="text" name="activities" placeholder="Activities">

  <input type="submit" name="submit" value="Create Trip">
</form>
